exportPattern("^[[:alpha:]]+")
useDynLib(matie)
importFrom(dfoptim,"nmkb")
importFrom(mvtnorm,"rmvnorm")
importFrom(seriation,"get_order")
importFrom(seriation,"seriate")
export(agram)
export(fbvs)
export(fdg)
export(ma)
export(ma.nl)
export(ma.test)
export(pd)
export(rwt)
export(sbd)
export(spa)
export(std)
export(shpd)
export(tap)
