exportPattern("^[[:alpha:]]+")
useDynLib(matie)
importFrom(dfoptim,"nmkb")
importFrom(mvtnorm,"rmvnorm")
importFrom(seriation,"get_order")
importFrom(seriation,"seriate")
importFrom(igraph,"graph.adjacency")
importFrom(igraph,"largest.cliques")
importFrom(igraph,"layout.kamada.kawai")
importFrom(igraph,"rglplot")
importFrom(igraph,"V")
importFrom(igraph,"E")
importFrom(igraph,"set.vertex.attribute")
importFrom(igraph,"set.edge.attribute")
importFrom(igraph,"plot.igraph")
export(agram)
export(fbvs)
export(fdg)
export(ma)
export(ma.nl)
export(ma.test)
export(pd)
export(rwt)
export(sbd)
export(spa)
export(std)
export(shpd)
export(tap)
